<!-- Start Footer Top Area -->
<footer class="footer-top-area f-bg pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-widget">
                    <a href="index.html">
                        <img src="assets/img/logo-medismart-blanco.png" alt="Image">
                    </a>

                    <p class="only-pc">Compañía de telemedicina chilena líder en experiencia de pacientes, contamos con un innovador modelo de atención con múltiples especialidades y resultados en línea.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6" style="margin-left: 5%; max-width: 20%;">
                <div class="single-widget open-time">
                    <h3>HORARIO DE ATENCIÓN</h3>
                    <ul>
                        <li>
                            <span style="font-weight: 800;">ATENCIÓN <br class="only-cel">MÉDICA</span>
                        </li>
                        <li>
                            <span>24 / 7</span>
                        </li>
                    </ul>
                    <ul class="mt-0">
                        <li>
                            <span style="font-weight: 800;">SOPORTE</span>
                        </li>
                        <li>
                            <span>8:00 AM - 8:00 PM</span>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <span style="font-weight: 800;">OFICINAS <br class="only-cel">CENTRALES</span>
                        </li>
                        <li>
                            <span>8:30 AM - 5:30 PM</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 only-pc">
                <div class="single-widget">
                    <div class="social-area">
                        <h3>SÍGUENOS!</h3>
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/Medismartchile">
                                    <i class="bx bxl-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/medismartchile/">
                                    <i class="bx bxl-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/medismart-live/ads/">
                                    <i class="bx bxl-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-widget contact">
                    <h3>COMUNÍCATE CON NOSOTROS</h3>
                    <ul style="margin-bottom: auto;">
                        <li class="pl-0">
                            <a href="mailto:contacto@abodoc.cl">
                                <i class="bx bx-envelope"></i>
                                <span>ATENCIÓN MÉDICA</span><br>
                                contacto@abodoc.cl
                            </a>
                        </li>
                        
                        <li>
                            <i class="bx bx-location-plus"></i>
                            <span>DIRECCIÓN</span><br>
                            Avenida Manquehue Sur 350, Piso 2<br>Las Condes, Santiago
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 only-cel">
                <div class="single-widget">
                    <div class="social-area">
                        <h3>SÍGUENOS!</h3>
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/Medismartchile">
                                    <i class="bx bxl-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/medismartchile/">
                                    <i class="bx bxl-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/medismart-live/ads/">
                                    <i class="bx bxl-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Top Area -->

<!-- Start Footer Bottom Area -->
<footer class="footer-bottom-area">
    <div class="container">
        <div class="copy-right">
            <p>Copyright @2020 Medismart.</p>
        </div>
    </div>
</footer>
<!-- End Footer Bottom Area -->