// Colors

$primary: #2FBFC0;
$secondary: #582F8D;
$tertiary: #FACC27;


$light: #FFF;
$grey: #666;
$dark: #111;

$heading-color: $secondary;

$transition: all 0.3s ease-out;
$border-radius: 4px;


$main-color: #05e8c2;
$body-color: #525252;
$heading-color: #001430;
$white-color: #ffffff;
$black-color: #000000;
$box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
$transition: all 0.5s;
$border-radius: 4px;
