@import "variables";

/*FAQ Area CSS
======================================================*/
.faq-area {
	&.bg-2 {
		background-color: #f1fafb;
    }
    background-color: $light;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.inner {
    padding-top: 0;
}
.faq-accordion {
	.accordion {
		list-style-type: none;
		padding-left: 0;
		margin-bottom: 0;
		.accordion-item {
			border-radius: 5px;
			display: block;
			background-color: $light;
			margin-bottom: 15px;
			box-shadow: $box-shadow;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.accordion-title {
			padding: 20px 60px 17px 25px;
			color: $heading-color;
			text-decoration: none;
			position: relative;
			display: block;
			font-size: 16px;
			font-weight: 600;
			i {
				position: absolute;
				right: 25px;
				top: 23px;
				font-size: 25px;
				-webkit-transition: 0.5s;
				transition: 0.5s;
			}
		}
		.accordion-title.active {
			i {
				transform: rotate(180deg);
			}
		}
		.accordion-content {
			display: none;
			position: relative;
			margin-top: -5px;
			padding-bottom: 30px;
			padding-right: 30px;
			padding-left: 30px;
			p {
				line-height: 1.8;
			}
		}
		.accordion-content.show {
			display: block;
		}
	}
}

.top-title {
    color: $secondary;
    margin-bottom: 2rem;
    small {
        display: block;
    }
}

.caja-ayuda {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	text-align: center;
	background-color: $light;
	border-radius: 10px;
	min-height: 340px;
	transition: $transition;
	box-shadow: $box-shadow;
	&:hover {
		// background-color: #EAFDFF;
		box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);;
	}
	i {
		font-size: 2.4rem;
		font-weight: 700;
		color: $primary;
	}
	h3 {
		font-size: 1.2rem;
	}
	b {
		margin-top: 1rem;
		display: block;
	}
}

.wrapper-ayuda {
	background-image: url('../img/ayuda.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
	padding: 4rem 0;
	display: flex;
	align-items: center;
	a{
		text-decoration: none;
		color: $secondary;
	}
}

.titulo-ayuda {
	color: $tertiary;
	text-align: center;
	margin-bottom: 3rem;
	small {
		display: block;
	}
	p {
		font-size: 1.4rem;
		color: $light;
	}
}


@media (max-width: 991.98px) {
	.titulo-ayuda {
		margin-bottom: 1rem;
		h1 {
			font-size: 1.4rem;
		}
		p {
			font-size: 1rem;
			margin-bottom: 0;
		}
	} 

	.wrapper-ayuda {
		height: auto;
		padding: 2rem;
	}

	.caja-ayuda {
		margin-bottom: 1rem;
		i {
			font-size: 2rem;
		}
		&.caja-paso-3 {
			height: auto;
			min-height: 0;
		}
	}
}

@media (max-width: 767.98px) { 
	.wrapper-ayuda {
		padding: 2rem 1rem;
	}
	.caja-ayuda {
		height: auto;
		min-height: 0;
		padding: 1rem;
		h3 {
			font-size: 1rem;
		}
		p {
			margin-bottom: 0;
			font-size: 0.9rem;
		}
	}
	.top-title {
		font-size: .8rem;
	}

	.faq-area {
		padding-top: 1rem;
		padding-bottom: 0;
		.top-title {
			margin-bottom: 1rem;
			margin-top: 1rem;
		}
		.inner {
			padding-left: 1rem;
			padding-right: 1rem;
			padding-bottom: 0;
		}
	}
	.faq-accordion .accordion .accordion-title {
		font-size: 0.8rem;
	}
	.faq-accordion .accordion .accordion-title i {
		font-size: 1.2rem;
	}
	.faq-accordion .accordion .accordion-content p {
		font-size: .8rem;
		margin-bottom: 0;
	}
 }