@import "variables";
@import "header-seccion";

/* Convenios */

.cont-convenios {
    background-color: #fff;
    padding: 6rem;
    label {
        font-weight: 700;
        color: $primary;
        margin-top: 1rem;
    }
    h2, h3 {
        margin-bottom: 1rem;
        color: $secondary;
    }
    h2 {
        font-size: 1.4rem;
    }
    h3 {
        font-size: 1.2rem;
        margin-top: 3rem;
    }
    ul {
        list-style-type: disc;
        li {
            margin-bottom: 0.5rem;
        }
    }
    strong {
        color: $grey;
    }
    .btn-primary {
        background-color: $primary;
        border-color: $primary;
        min-width: 200px;
        &:hover {
            background-color: #1C7475;
            border-color: #1C7475;
        }
    }
}



.card-industria {
    background-color: $secondary;
    border-radius: 10px;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    h4 {
        font-family: 'Montserrat', sans-serif;
        font-size: 0.8rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
        color: $tertiary;
    }
    i {
        color: $primary;
        margin-bottom: 2rem;
    }
}

.cont-convenios {
    .lista-convenio {
        li {
            margin-bottom: 1rem;
        }
    }
}

.appointment-convenio {
    padding: 0;
}

#contactForm {
    ul {
        list-style-position: none;
    }
}

.industrias {
    padding: 4rem;
    background-color: $primary;
    h3 {
        margin-bottom: 2rem;
        color: $light;
    }
}

.form-convenios {
    // background-color: $secondary;
    display: block;
    padding: 2rem;
    border-radius: 20px
}

#convenioForm {
    .form-group {
        margin-bottom: 0;
        .list-unstyled {
            margin-bottom: 0;
        }
      }
}

@media (max-width: 991.98px) {

    .card-industria {
        margin-bottom: 1rem;
        min-height: 200px;
        // word-wrap: break-word;
        h4 {
            width: 100%;
            font-weight: 300;
            text-transform: none;
            letter-spacing: 0;
        }
    }
    .cont-convenios {
        padding: 2rem 1rem;

    }
    .industrias {
        padding: 2rem 0;
        h3 {
            font-size: 1rem;
        }
    }
}

@media (max-width: 767.98px) {
    .cont-convenios {
        font-size: 0.8rem;
        h2 {
            font-size: 1rem;
        }
        h3 {
            font-size: .8rem;
        }
    }
}