/* Footer */

@import "variables";

/*
Footer Top Area Style
======================================================*/ 
.footer-top-area {
	background-color: $heading-color;
	padding-top: 100px;
	padding-bottom: 70px;
	&.f-bg {
		background-image: url(../img/footer.png);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100%;
		position: relative;
		background-attachment: fixed;
	}
	&.f-bg-2 {
		position: relative;
		z-index: 1;
		.shape-1 {
			position: absolute;
			top: 50px;
			right: 50px;
			opacity: 0.2;
			z-index: -1;
			animation: rotation 30s linear infinite;
		}
		.shape-2 {
			position: absolute;
			bottom: 50px;
			left: 100px;
			opacity: 0.2;
			z-index: -1;
			animation: moveBounce 5s linear infinite;
		}
		.shape-3 {
			position: absolute;
			bottom: 50px;
			left: 100px;
			opacity: 0.2;
			z-index: -1;
			animation: rotation 30s linear infinite;
		}
		.shape-4 {
			position: absolute;
			top: 50px;
			right: 50px;
			opacity: 0.2;
			z-index: -1;
			animation: moveBounce 5s linear infinite;
		}
	}
}
.single-widget {
	margin-bottom: 30px;
	a {
		img {
			max-width: 280px;
		}
	}
	img {
		margin-bottom: 20px;
	}
	h3 {
		font-size: 22px;
		margin-bottom: 1rem;
		display: inline-block;
		color: $heading-color;
		color: $primary;
		font-family: 'Montserrat', Arial, Helvetica, sans-serif;
		font-weight: 700;
		font-size: 1rem;
	}
	p {
		margin-bottom: 0;
		color: $light;
		font-size: 0.9rem;

	}
	ul {
		padding-left: 0;
		list-style-type: none;
		li {
			color: #c0cade;
			margin-bottom: 8px;
			font-size: 15px;
			&:last-child {
				margin-bottom: 0;
			}
			span {
				color: $light;
			}
			a {
				color: $light;
				transition: $transition;
				i {
					display: inline-block;
					margin-right: 2px;
					font-size: 14px;
				}
				&:hover {
					transform: translateX(2px);
				}
			}
		}
	}
	.social-area {
		// margin-top: 20px;
		ul {
			line-height: 1;
			li {
				display: inline-block;
				a {
					margin-right: 5px;
					width: 30px;
					height: 30px;
					line-height: 34px;
					background-color: $primary;
					border-radius: $border-radius;
					text-align: center;
					i {
						color: #eeeeee;
						transition: $transition;
						margin-right: 0;
						font-size: 18px;
					}
					&:hover {
						border-color: $primary;
						transform: translateX(-2px);
						i {
							color: $light;
						}
					}
				}
			}
		}
	}
	&.contact {
		ul {
			li {
				position: relative;
				// padding-left: 30px;
				a {
					position: relative;
					padding-left: 30px;
					i {
						position: absolute;
						top: 4px;
						left: 0;
						color: $primary;
						font-size: 20px;
					}
					span {
						display: block;
						font-weight: 600;
					}
				}
				i {
					position: absolute;
					left: 0;
					top: 4px;
					color: $primary;
					font-size: 20px;
				}
				span {
					display: block;
					font-weight: 600;
				}
			}
		}
	}
	&.open-time {
		li {
			padding-bottom: 15px;
			margin-bottom: 15px;
			border-bottom: 1px solid $primary;
			.right {
				float: right;
			}
			&:last-child {
				padding-bottom: 0;
				border-bottom: none;
			}
		}
	}
}

/*
Footer Bottom Area Style
======================================================*/ 
.footer-bottom-area {
	background-color: #05224c;
	padding: 20px 0;
	.copy-right {
		text-align: center;
		p {
			text-transform: capitalize;
			margin-bottom: 0;
			color: $light;
			a {
				color: $light;
			}
		}
	}
}


/*
Social Links
======================================================*/ 

.social-links {
	ul {
		display: flex;
		align-items: center;
		justify-content: center;
		li {
			margin-bottom: 0;
			margin-right: 1rem;
			&:last-child {
				margin-right: 0;
			}
		}
		a {
			height: 50px;
			width: 50px;
			background-color: $primary;
			border-radius: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			&:hover {
				text-decoration: none;
				background-color: $secondary;
			}
			i {
				font-size: 1.6rem !important;
			}
		}
	}
}


@keyframes moveBounce {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(20px);
	}
	100% {
	 
		transform: translateY(0px);
	}
}

/* Nuevo Footer */
.container-footer {
	max-width: 1380px;
}

.contact {
	a{
		color: $light;
		text-decoration: none;
		&:hover {
			color: $primary;
		}
	}
}

.data-atencion {
	color: #FFF;
	text-align: center;
	.titulo-atencion {
		font-weight: 700;
		text-transform: uppercase;
		font-size: 0.8rem;
		padding-bottom: 1rem;
		margin-bottom: 1rem;
		border-bottom: 1px solid $primary;
	}
}

.comunicate-box {
		font-size: 1rem;
		color: $light;
		display: flex;
		align-items: center;
		margin-bottom: 2rem;
		text-align: left;
	.fal {
		color: $primary;
		font-size: 2rem;
		display: inline-block;
		margin-right: 0.8rem;
	}
	.comunicate-body {
		display: inline-block;
		strong {
			font-size: .8rem;
			display: block;
		}
	}
}


@media (max-width: 991.98px) {

	.single-widget {
		h3 {
			display: block;
		}
		p {
			font-size: 0.8rem;
		}
	}

	.open-time {
		ul:first-child, 
		ul:last-child, {
			width: 38%;
			display: inline-block;
		}
	}

	.footer-top-area {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}


	.single-widget {
		a {
			img {
				max-width: 150px;
			}
		}
		h3 {
			font-size: 0.8rem;
		}
	}
	.data-atencion {
		.titulo-atencion {
			font-size: 0.7rem;
		}
		.data-horario {
			font-size: 0.8rem;
		}
	}

	.cont-comunica {
		display: flex;
	}

	.comunicate-box {
		margin-bottom: 1rem;
		font-size: 0.8rem;
		justify-content: center;
		align-items: start;
		.fal {
			font-size: 1rem;
		}
		.comunicate-body {
			// width: 120px;
		}
	}

}