@import "variables";

body {
  // background-color: $primary;
  background: rgb(88,47,141);
  color: #333;
  background: linear-gradient(322deg, rgba(88,47,141,1) 0%, rgba(47,191,192,1) 100%);
}

.wrapper {
  width: 100%;
  // max-width: 1200px;
  margin: 0 auto;
}

ul {
  // list-style-type: none;
}

.navbar-toggler {
  color: #FFF;
}

button:focus {
// outline: 1px solid rgba(255,255,255,.5);
 outline: none;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.cont-logo {
  width: 48px;
}

nav {
  max-width: 1400px;
  margin: 0 auto;
  ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    li {
      display: inline-block;
    }
  }
  a {
    color: #fff;
    font-size: .9rem;
    font-weight: 700;
    &:hover {
      text-decoration: none;
      color: $tertiary;
    }
  }
  .btn-contrata {
    border: 1.3333px solid #fff;
    &:hover {
        border: 1.3333px solid $tertiary;
    }
  }
  .nav-item {
    margin-left: .8rem;
  }
  .nav-link {
    text-transform: uppercase;
    font-weight: 500;
  }
  .navbar-brand {
    img {
      width: 100%;
      max-width: 250px;
      min-width: 200px;
    }
  }
}

header {
  background-color: $secondary;
  color: $light;
  padding: 1rem 0;
  .inner {
    padding: 1.375rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .cont-iso { 
    max-width: 405px;
    margin-right: 3.125rem;
    img {
      width: 100%;
    }
  }
  h2,
  .cont-iso {
    display: inline-block;
    font-size: 1.4rem;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
  }
  h2 {
    margin: 0;
    margin-top: .7rem;
  }
  .btn {
    font-size: 0.75rem;
    font-weight: 700;
  }
}

.inner-section {
  padding: 6rem;
}

#contactForm {
  ul {
    margin-bottom: 0;
  }
  .form-group.has-error {
    margin-bottom: 0;
    .help-block.with-errors {
      color: $tertiary;
    }
  }
}

.page-title-area {
  position: relative;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  // background-image: url(../../assets/img/page-bg/1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


.mtop-4 {
  margin-top: 4rem;
}
.hero-image {
  padding: 4rem;
  padding-top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $tertiary;
}

  .phone {
    font-weight: 700;
    color: $light;
    font-size: 1.2rem;
  }

  .subnav {
    max-width: 1400px;
    .btn {
      border-radius: 20px;
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .btn-primary:first-child {
      background-color: $secondary;
      border-color: $secondary;
      margin-right: 0.5rem;
      &:hover {
        background-color: $primary;
        border-color: $primary;
      }
    }
    .btn-primary:last-child {
      background-color: $tertiary;
      border-color: $tertiary;
      color: $secondary;
      &:hover {
        background-color: $primary;
        border-color: $primary;
        color: $light;
      }
    }
    .cont-btn-subnav {
      text-align: right;
    }
  }

  .appointment-area {
    background-color: #2FBFC0;
    padding: 0;
    color: #FFF;
    label {
      font-weight: 700;
    }
    .btn-primary {
      background-color: $secondary;
      border-color: $secondary;
    }
  }

  .single-contact-map {
    height: 100%;
    width: 100%;
    iframe {
      width: 100%;
      height: 100%;
    }
  }

  .appointment-here-form {
    padding: 4rem;
  }

/* Navbar */

.navbarnav {

}

/* Columns Equal Height */

.row.equal-height-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.row.equal-height-row>[class*='col-'] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.row.equal-height-row>[class*='col-']>.card {
  padding: 1rem;
}

#msgSubmit {
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
}

.with-errors {
  color: #EB5757;
  padding: .5rem 0;
  margin-bottom: 0;
  .list-unstyled {
    list-style-type: none;
    li {
      margin-bottom: 0;
    }
  }
}





.v-center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-flow: column;
  flex-flow: column;
}


.form-control {
  border-radius: 0;
  outline: none;
}

.btn.btn-cta,
.btn.btn-cta1 {
  border-radius: 100px;
}


.btn-cta:first-child {
  background-color: $secondary;
  border-color: $light;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  &:hover {
    background-color: $primary;
    border-color: $primary;
  }
}
.btn-cta1:last-child {
  background-color: $tertiary;
  border-color: $tertiary;
  color: $secondary;
  &:hover {
    background-color: $primary;
    border-color: $primary;
    color: $light;
  }
}

.btn-primary:not(:disabled):not(.disabled).active:focus, 
.btn-primary:not(:disabled):not(.disabled):active:focus, 
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}


.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: $secondary;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.loader i {
  color: #FFF;
}

.loader img {
  width: 100px;
  margin-bottom: 2rem;
}

.loader.hidden {
  -webkit-animation: fadeOut 1s;
          animation: fadeOut 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@media (max-width: 991.98px) {
  .btn {
    display: block;
    margin-bottom: .5rem;
  }

  .navbar-nav {
    margin-top: 2rem;
  }

  .btn-cta:first-child {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 0;
  }

  .btn-cta:first-child,
  .btn-cta1:last-child {
    max-width: 200px;
  }
  .appointment-here-form {
    padding: 2rem 1rem;
    padding-bottom: 0 !important;
    h2 {
      font-size: 1rem;
    }
  }
  .single-contact-map {
    min-height: 300px;
  }

  nav .navbar-brand img {
    max-width: 150px;
    min-width: 0;
  }

  .mtop-4 {
    margin-top: 2rem;
  }

  .separador {
    height: 0;
      border-top: 6px solid #FACC27;
      margin: 2rem 0;
  }
    header {
      padding: 0;
    }
  
}

@media (max-width: 767.98px) {
  .appointment-here-form {
    padding: 1rem;
  }
  .single-contact-map {
    min-height: 100px;
  }
}


@media (min-width: 576px) {
  .row.equal-height-row>[class*='col-']>.card {
    height: 100%;
  }
}