@import "variables";
@import "header-seccion";

/* Ingresa */

.wrapper-ingresa {
    background-image: url('../img/ingresa.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: calc(100vh - 125px);
    .titulo-seccion,
    .destacado {
        color: $tertiary;
    }

    h1 {
        text-align: center;
        font-size: 2rem;
        // margin: 6rem;
        // margin-bottom: 4rem;
        color: $tertiary;
    }
    h3 {
        color: $light;
        font-size: 1.6rem;
        text-align: center;
        margin: 3rem 0;
        font-family: 'Montserrat', serif;
    }
    small {
        display: block;
        margin-top: 2rem;
    }
}

.box-ingresa {
    background-color: rgba(88,47,141,.8);
    border-radius: 20px;
    padding: 4rem 6rem;
    margin: 4rem auto;
}

.card-ingreso {
    display: flex;
    align-items: center;
    background-color: $primary;
    padding: .5rem;
    border-radius: 4rem;
    cursor: pointer;
    width: 450px;
    padding-right: 0;
    // padding-right: 2rem;
    margin: 0 auto;
    transition: all .3s ease-out;
    justify-content: space-between;
    .cont-icon {
        width: 80px;
        height: 80px;
        border-radius: 60px;
        border: 1px solid rgba(255,255,255, .5);
        padding: 1rem;
        margin: 0;
        background-color: $light;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        transition: all .3s ease-out;
        justify-content: center;
        i{
        font-weight: 300;
        font-size: 2.4rem;
        color: $secondary;
        }
    }
    a {
        display: inline-block;
        margin-left: 0;
        font-size: 2.6rem;
        color: $light;
        text-transform: uppercase;
        line-height: 1.2;
        font-weight: 700;
        small {
            display: block;
            margin-top: .4rem;
            font-weight: 700;
            // letter-spacing: 10px;
            font-size: 1rem;
        }
        &:hover {
            text-decoration: none;
        }
        &.link {
            width: 100%;
            padding: 0.5rem 0;
        }
    }
    &:hover {
        background-color: darken($primary, 20%);
        .cont-icon {
            transform: scale(1.2);
            background-color: $primary;
            i {
                color: $light;
            }
        }
    }
}

.ingreso-abogados {
    background-color: $tertiary;
    &:hover {
        background-color: darken($tertiary, 20%);
        .cont-icon {
            transform: scale(1.2);
            background-color: $tertiary;
        }
    }
}



@media (max-width: 991.98px) {
    .wrapper-ingresa {
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(75vh - 125px);
        h1 {
            font-size: 1.4rem;
        }
        h3 {
            margin: 1rem;
            font-size: 1rem;
            line-height: 1.4; 
        }
        small {
            margin-top: 1rem;
        }
    }
    .box-ingresa {
        margin: 1rem;
        padding: 2rem 1rem;
    }
    .card-ingreso {
        width: 100%;
        min-width: 250px;
        margin-bottom: .8rem;
        a {
            font-size: 2rem;
            small {
                font-size: 0.8rem;
            }
        }
        &.ingreso-abogados {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 767.98px) {
    .wrapper-ingresa {
        height: calc(100vh - 125px);
    }
    .box-ingresa {
        margin: 2rem;
    }
    .card-ingreso {
        width: 90%;
        a {
            font-size: 1.6rem;
        }
    }
}

@media (max-width: 575.98px) {
    .wrapper-ingresa {
        height: auto;
        padding-top: 1rem;
        padding-bottom: 1rem;
        h1 {
            font-size: 1.2rem;
        }
        h3 {
            font-size: 0.8rem;
        }
    }
    .box-ingresa {
        margin: 1rem;
    }
    
}