/* Nosotros */

@import "variables";

.nosotros {
    background-color: $light;
    padding-top: 2rem;
    padding-bottom: 2rem;
    h3 {
        color: $tertiary;
        font-size: 1rem;
        // background-image: url(../img/banda-amarilla.svg);
        // background-repeat: no-repeat;
        // background-position: center 20px;
    }
    .caja-nosotros {
        // text-align: center;
        padding: 2rem 0;
        // background-color: $secondary;
        p, ul {
            // color: #FFF;
        }
        ul {
            padding-left: 0;
            list-style-type: none;
            text-align: left;
        }
    }
    .caja-nosotros {
        width: 100%;
        // height: 430px;
        margin: 0 auto;
        background-color: rgba(255,255,255,.6);
        width: 330px;
    }
}

.cont-nosotros {
    padding: 4rem 2rem;
    // background-image: url('../img/isotipo.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caja-nosotros {
    background-color: $light;
    width: 100%;
    padding: 4rem 0;
    border-radius: 0;
     // box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    p {

    }
    strong {
        color: $grey;
    }
    ul {
        padding-left: 0;
        list-style-type: disc;
        li {
            margin-bottom: 1rem;
        }
    }
    h3 {
        margin-bottom: 0;
        text-align: center;
    }
    i {
        color: $primary;
    }
}

.box-nosotros {
    background-image: url('../img/box-nosotros.svg');
    background-position: left center;
    border-radius: 0;
    background-size: contain;
    background-repeat: no-repeat;
    color: $light;
    height: 450px;
    min-width: 350px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &.right {
        background-image: url('../img/box-nosotros-r.svg');
        background-position: right center;
    }
    ul {
        list-style-type: disc;
        li {
            margin-bottom: 1rem;
        }
    }
}
.box-nosotros {
    .inner-nosotros {
        width: 600px;
        margin-left: -15%;
    }
}


.card-nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
    padding: 3rem 2rem;
    border-radius: 20px;
}

.card-lila {
    background-color: $secondary;
    p {
        color: $light;
    }
}

.card-verde {
    background-color: $primary;
    p, ul {
        color: $light;
    }
}



.box-nosotros.right {
    .inner-nosotros {
        margin-left: 10%;
    }
}


/* Nuevo Layout */

.texto-nosotros {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .inner-texto {
        width: 90%;
    }
}


.cont-foto-abogada,
.cont-foto-doctor {
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 2rem 0;
}

.cont-foto-abogada {
    background-image: url('../img/abogada3.png');
    background-position: right 0;
    background-color: #009999;
    .inner-texto {
        margin-left: 10%;
    }
}
.cont-foto-doctor {
    margin-top: 0;
    margin-bottom: 1rem;
    background-image: url('../img/doctor3.png');
    background-color: #663399;
    background-position: -80px 0;
    .inner-texto {
        margin-right: 10%;
    }
}


.col-punta-lila {
    background-image: url('../img/punta-lila.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -10px 0;
    width: 310px;
    height: 400px;
}

.cont-texto-lila, 
.cont-texto-verde {
    position: relative;
    h3 {
        color: $tertiary;
        font-size: 1.2rem;
    }
    p, ul {
        color: $light;
        font-size: 1rem;
        margin-bottom: .5rem;
    }
}

.cont-texto-lila {
    background-color: $secondary;
}

.inner-nosotros {
    margin: 0 auto;
}



.col-punta-verde {
    background-image: url('../img/punta-verde.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 101% 0;
    width: 310px;
    height: 392px;
}

.cont-texto-verde {
    background-color: $primary;
}


@media (max-width: 991.98px) {

    .card-nosotros {
        margin: 2rem .5rem;
        margin-bottom: 0;
        ul {
            padding-left: .5rem;
        }
    }

}