@import "variables";

/* Planes */

    .plan {
        h4 {
            font-family: 'Montserrat', Arial, Helvetica, sans-serif;
            margin: 0;
            margin-top: 1rem;
            text-align: center;
            color: $primary;
        }
        &.plan-int {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            .nombre-plan {
                font-size: 1.3rem;
            }
            .precio-plan {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }



    .cont-incluye {
        padding: 0 .5rem;
        ul {
            padding-left: 20px;
            margin-bottom: 2rem;
            li {
                margin: 1rem 0;
            }
        }

        .btn-primary {
            background-color: $tertiary;
            border-color: $tertiary;
            margin-right: 0.5rem;
            color: $secondary;
            &:hover {
              background-color: $primary;
              border-color: $primary;
              color: $light;
            }
        }
        .box-promo.box-contrata .box-inner {
            background-color: $primary;
            transition: $transition;
            &:hover {
                background-color: darken($primary, 20%);
            }
        }
        .box-promo {
            margin: 3rem 0 0 0;
        }
        h5 {
            font-size: 1rem;
        }
    }
    @media (max-width: 991.98px) {
        .titulo-planes {
            font-size: 2rem;
            margin: 2rem 0;
        }
        .cont-incluye {
            .box-promo{
                width: auto;
                margin: 0;
                &.box-contrata {
                    .box-inner {
                        padding: 1rem;
                        width: 100%;
                    }
            }
            }
        }
        .plan.plan-int {
            margin: 0;
        }

    }
    @media (max-width: 767.98px) { 
        .plan.plan-int .nombre-plan {
            font-size: .9rem;
            letter-spacing: -4px;
            margin-bottom: 0;
        }

        .precio-plan + h4 {
            color: $primary;
            margin-top: 0.5rem;
        }

        .subprecio {
            font-size: 1.4rem;
        }
        .plan {
            .btn-contratar {
                padding: 0.5rem 1rem;
                font-size: 0.8rem;
            }
        }
        .titulo-planes {
            font-size: 1.2rem;
            margin-bottom: 0;
        }
        .cont-incluye {
            ul {
                font-size: 0.8rem;
                margin-bottom: 1rem;
                li {
                    margin: 0.5rem 0;
                }
            }
        }
     }


