/* Section 1 */
@import "variables";

.s1 {
  color: $light;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  h1 {
    font-size: 3.75rem;
    letter-spacing: -0.6rem;
    line-height: 3.6rem;
  }
  .destacado {
    color: $secondary;
    background-image: url("../img/banda-amarilla.svg");
    background-repeat: no-repeat;
    background-position: center 20px;
  }
  .texto-apoyo {
    font-size: 1.625rem;
    max-width: 550px;
    line-height: 1.6rem;
    // padding: 2rem;
  }

  .slogan {
    font-size: 1.625rem;
    color: $secondary;
    font-weight: 700;
  }
  .message-plan {
    font-size: 3.8333rem;
    color: $tertiary;
    // width: 24rem;
    width: 320px;
    font-weight: 700;
    h3 {
      font-size: 38px;
      letter-spacing: -0.06em;
      line-height: 1;
    }
    .precio {
      color: $light;
      height: 160px;
      background-color: $secondary;
      padding: 0.75rem;
      font-size: 4.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 280px;
      height: 80px;
    }
    .signo-peso {
      // font-size: 2.5rem;
      display: inline-block;
      font-size: 34px;
    }
    .valor-precio {
      display: inline-block;
      letter-spacing: -0.06em;
      // margin-left: -2rem;
      font-size: 64px;
    }
    .mes {
      display: inline-block;
      font-size: 1.8rem;
      line-height: 1.8rem;
      // margin-left: -2rem;
    }
  }
}

.cont-photo-text {
  position: relative;
  width: 100%;
  .message-plan {

  }
}

@media (max-width: 991.98px) {
  .s1 {
    .slogan {
      font-size: 1rem;
    }
    .destacado {
      font-size: 1.4rem;
    }
    .message-plan {
      width: 100%;
      h3 {
        font-size: 1.4rem;
        text-align: center;
      }
      .precio {
        width: 100%;
        max-width: 280px;
        justify-content: center;
        margin-bottom: 1rem;
      }
      .valor-precio {
        font-size: 3rem;
        margin-right: .5rem;
      } 
      .signo-peso {
        font-size: 1.5rem;
        margin-right: .5rem;
      }
      .mes {
        font-size: 1.4rem;
      }
    }
  }
}