/* Sección 2 */

@import "variables";

.s2 {
    background-color: #fff;
    .text-block {
        padding: 48px 28px;
    }
    img {
        margin-bottom: 4rem;
    }
    h2 {
        font-size: 22px;
        margin-bottom: 1rem;
    }
}

.box-promo {
    width: 300px;
    display: block;
    margin-bottom: 2rem;
    a {
        text-decoration: none;
    }
    .box-inner {
        padding: 1.5rem 2rem;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        border-radius: 10px;
        transition: $transition;
        &.box-pide {
            &:hover {
                background-color: darken($primary, 20%);
            }
        }
    }
    &.box-contrata {
        p {
            color: $secondary;
            margin-bottom: .5rem;
        }
        .box-inner {
            background-color: $secondary;
            &:hover {
                background-color: darken($secondary, 20%);
            }
        }

    }
    &.box-hora {
       p {
        color: $primary;
        margin-bottom: .5rem;
       }
       .box-inner {
           background-color: $primary;
       }
    }
    img {
        width: 10px;
        display: inline-block;
        margin: 0;
        margin-left: 1.5rem;
    }
    .box-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFF;
    }
}

@media (max-width: 991.98px) {
    .s2 {
        min-height: 100vh;
        .text-block {
            padding: 48px 16px;
        }
        h2 {
            font-size: 20px;
        }
    }

    .box-promo {
        margin: auto;
        margin-bottom: 2rem;

    }
}