/* Sección 3 */
@import "variables";

.s3 {
    background-color: $secondary;
    color: $light;
    padding: 5rem 2rem;
    h1 {
        font-weight: 300;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        margin-bottom: 2rem;
        font-size: 3.4rem;
    }
    a {
        text-decoration: none;
    }
}

.cont-planes {
    // max-width: 970px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.plan {
    padding: 2rem 1rem;
    margin: 0 .5rem;
    border-radius: 10px;
    text-align: center;
   border: 1px solid rgba(255,255,255,.3);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    // height: 19rem;
    &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    .nombre-plan {
        color: $tertiary;
        letter-spacing: -3px;
        margin-bottom: .5rem;
        font-size: 1.4rem;
    }
    span {
        display: inline-block;
        letter-spacing: -1px;
    }
    .precio-plan {
        background-color: $primary;
        color: $secondary;
        text-align: center;
        padding: .5rem 1rem;
        font-weight: 700;
        font-size: 2rem;
        line-height: 45px;
        letter-spacing: 0.04em;
        width: 100%;
        .signo-peso {
            font-size: 20px;
            margin-right: -10px;
            margin-top: -10px;
            margin-left: 10px;
        }
        .mes {
            text-transform: uppercase;
            font-size: 1rem;
            display: inline-block;
            width: 56px;
            text-align: left;
            line-height: 1;
            margin-left: -10px;
        }
        .inner-plan {
            margin: 0 auto;
        }
    }
    .btn-contratar {
        background-color: $primary;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        color: #FFF;
        padding: .5rem 2rem;
        border-radius: 100px;
        // margin: 2rem auto;
        // margin-bottom: 0;
        margin: 0 auto;
        display: inline-block;
        font-size: .8rem;
        &:hover {
            text-decoration: none;
            background-color: #177576;
        }
    }
    &:last-child {
        // border-right: none;
    }
}

.subprecio {
    font-size: 1.8rem;
    display: block;
    margin: .5rem auto;
    margin-bottom: 1.4rem;
    margin-top: 0;
    font-weight: 700;
    text-decoration: line-through;
    small {
        font-size: 1.4rem;
    }
}

.precio-normal, .precio-lanzamiento {
    margin-top: 1rem;
    font-size: 0.8rem;
}

.precio-lanzamiento {
    margin-bottom: .5rem;
    color: $primary;
}



@media (max-width: 991.98px) {
    .s3 {
        padding: 0;
        padding-bottom: 3rem;
        h1 {
            font-size: 2rem;
            margin-top: 2rem;
        }
    }
    .cont-planes {
       display: block;
    }
    .plan {
        border-right: none;
        // border-bottom: 1px solid #FFF;
        border: 1px solid rgba(255,255,255,.3);
        padding: 1rem 0;
        padding-bottom: 2rem;
        margin-bottom: 1rem;
        display: inline-block;
        width: 47%;
        .precio-plan {
            width: 100%;
            font-size: 1.4rem;
            .signo-peso {
                font-size: 1rem;
                margin-right: .1rem;
            }
            .mes{
                margin-left: -4px;
            }
        }
        h4 {
            font-size: 1rem;
        }
    }
}


@media (max-width: 767.98px) {
    .s3 h1 {
        font-size: 1.2rem;
    }
    .cont-planes {
        flex-direction: column;
    }
    .plan {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        height: auto;
    }
}
