/* Seccion 4 */

@import "variables";

.s4 {
    background-color: $light;
    padding: 5rem;
    h1, h2, h3 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        color: $secondary;
        margin-bottom: 1rem;
    }
    p {
        line-height: 1.4;
    }
    ul {
        color: $secondary;
        list-style-type: disc;
        li {
            margin: 1rem 0;
        }
    }
    hr {
        height: 0;
        border-top: 6px solid $tertiary;
        margin: 1rem 0;
    }
    .nota {
        font-style: italic !important;
        p {
            font-size: 0.8rem;   
        }
    }
    .btn {
        border-radius: 10px;
    }
}

.btn-hora {
    margin: 2rem 0;
    background-color: $secondary;
    border-radius: 0;
    text-transform: uppercase;
    padding: 1rem 2rem;
    max-width: 300px;
    &:hover {
        background-color: #32155b;
    }
}
@media (max-width: 767.98px) {
    .s4 {
        img {
            max-height: 200px;
        }
    }
}


@media (max-width: 991.98px) {
    .s4 {
        padding: 4rem 2rem;
        img {
            max-height: auto;
        }
        h1 {
            font-size: 2rem;
        }
        h3 {
            font-size: 1.4rem;
        }
    }
}

@media (max-width: 575.98px) {

    .s4 {
        h1 {
            font-size: 1.4rem;
            font-weight: 700;
            margin-top: 2rem;
        }
        p {
            font-size: 0.8rem;
        }
        h3 {
            font-size: 1.2rem;
        }
        ul {
            margin-bottom: 0.5rem;
            li {
                margin: 0.5rem 0;
            }
        }
        .btn-hora {
            margin: 1rem 0;
        }
    }

}