@import "variables";
@import "header-seccion";
/* Servicios */

.wrapper-servicios {
    background-image: url('../img/isotipo2.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .titulo-seccion,
    .destacado {
        color: $tertiary;
    }
}

.caja-servicios {
    padding: 2rem;
    margin: 0 auto;
    border: 4px solid rgba(255, 255, 255, .3);
    border-radius: 10px;
    position: relative;
    color: rgba(255,255,255,.7);
    height: 300px;
    p {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 0;
    }
   h5 {
       font-size: 2rem;
       // padding-bottom: 2rem;
       // margin-bottom: 2rem;
       // border-bottom: 1px solid rgba(255, 255, 255, .3);
       small {
           display: block;
           font-family: 'Montserrat', sans-serif;
           font-size: 1rem;
           text-transform: uppercase;
       }
   } 
   hr {
       margin-right: -2rem;
       margin-left: -2rem;
       border-top: 1px solid rgba(255, 255, 255, .3);
   }
   i {
       display: block;
       margin-bottom: 1rem;
   }

}

.card-servicios {
    padding: 2rem;
    border-radius: 0;
   min-height: 32rem;
    border: none;
    color: $primary;
    background-color: $light;
    margin: 0;
    margin-bottom: 2rem;
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  max-width: 310px;

  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: $primary;
    p, ul {
        color: $secondary;
    }
    h2 {
        color: $light;
        border-left: 4px solid $light;
    }
  }
    p, ul {
        color: $grey;
        // font-weight: 700;
    }
    .title-card {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

    ul {
        padding-left: 20px;
        list-style-type: disc;
        li {
            margin-bottom: 1rem;
        }
    }

    h2 {
        border-left: 4px solid $primary;
        padding-left: 1rem;
    }
}

.cont-icon {
    display: flex;
    width: 80px;
    height: 80px;
    // border: 4px solid rgba(0,0,0,.3);
    // background-color: #ddd;
    align-items: center;
    justify-content: center;
    // border-radius: 50px;
    margin-bottom: 2rem;

    i {
        font-weight: 700;
        font-size: 3rem;
        color: $secondary;
    }
    img {
        width: 80px;
        height: 80px;
    }
}

.intro-servicios {
    color: $light;
    h1 {
        width: 300px;
        margin-bottom: 4rem;
        margin-top: 4rem;
        color: $secondary;
        font-size: 3em;
        background-image: url('../img/banda-amarilla.svg');
        background-repeat: repeat-x;
        background-position: center;
    }

}

.container-features {
    max-width: 1400px;
}




@media (max-width: 991.98px) {
    .intro-servicios h1 {
        font-size: 2em;
        width: auto;
        text-align: center;
    }
    .caja-servicios {
        margin-bottom: 2rem;
        height: auto;
        h5 {
            display: inline-block;
            max-width: 250px;
        }
        i {
            display: inline-block;
            margin-right: 0.5rem;
        }

    }

    .card-servicios {
        margin: 2rem;
        margin-top: 0;
        border-radius: 10px;
        height: auto;
        max-width: none;
        min-height: 0;
        p, ul {
            color: $secondary;
            font-weight: 700;
        }
        &:hover {
            h2 {
                border-left: none;
            }
        }
    }
    .wrapper-servicios .titulo-seccion, 
    .wrapper-servicios .destacado {
        font-size: 2rem;
    }
    .cont-icon {
        height: 60px;
        width: 60px;
        img {
            height: 60px;
        width: 60px;
        }
    }
    .titulo-seccion {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}

@media (max-width: 575.98px) { 
    .caja-servicios {
        
        padding: 1rem;
        p {
            font-size: 0.8rem;
        }
        hr {
            margin-right: -1rem;
            margin-left: -1rem;
        }
        h5 {
            font-size: 1.4rem;
        }
        i {
            font-size: 2.4rem;
        }
    }

    .card-servicios {
        height: 370px;
        margin: 0;
        margin-bottom: 1rem;
        padding: 1rem;
        .title-card {
            font-size: .8rem;
            border-left: none;
            display: inline-block;
            margin-bottom: 1rem;
            padding-left: 0;
        }
        &:hover {

        }
        ul {
            padding-left: 10px;
            li {
                margin-bottom: 0.5rem;
                font-weight: 500;
                font-size: 0.8rem;
            }
        }
        br {
            display: none;
        }
    }

    .cont-icon {
        margin: 0;
        margin-bottom: 1rem;
        justify-content: start;
        height: auto;
        width: auto;
        img {
            width: 40px;
            height: 40px;
        }
    }

    .wrapper-servicios .titulo-seccion, 
    .wrapper-servicios .destacado {
        font-size: 1.2rem;
    }
}