/*FAQ Area CSS
======================================================*/
.faq-area {
  background-color: #FFF;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.faq-area.bg-2 {
  background-color: #f1fafb;
}

.inner {
  padding-top: 0;
}

.faq-accordion .accordion {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.faq-accordion .accordion .accordion-item {
  border-radius: 5px;
  display: block;
  background-color: #FFF;
  margin-bottom: 15px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
}

.faq-accordion .accordion .accordion-item:last-child {
  margin-bottom: 0;
}

.faq-accordion .accordion .accordion-title {
  padding: 20px 60px 17px 25px;
  color: #001430;
  text-decoration: none;
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: 600;
}

.faq-accordion .accordion .accordion-title i {
  position: absolute;
  right: 25px;
  top: 23px;
  font-size: 25px;
  transition: 0.5s;
}

.faq-accordion .accordion .accordion-title.active i {
  transform: rotate(180deg);
}

.faq-accordion .accordion .accordion-content {
  display: none;
  position: relative;
  margin-top: -5px;
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;
}

.faq-accordion .accordion .accordion-content p {
  line-height: 1.8;
}

.faq-accordion .accordion .accordion-content.show {
  display: block;
}

.top-title {
  color: #582F8D;
  margin-bottom: 2rem;
}

.top-title small {
  display: block;
}

.caja-ayuda {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
  background-color: #FFF;
  border-radius: 10px;
  min-height: 340px;
  transition: all 0.5s;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
}

.caja-ayuda:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.caja-ayuda i {
  font-size: 2.4rem;
  font-weight: 700;
  color: #2FBFC0;
}

.caja-ayuda h3 {
  font-size: 1.2rem;
}

.caja-ayuda b {
  margin-top: 1rem;
  display: block;
}

.wrapper-ayuda {
  background-image: url("../img/ayuda.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  padding: 4rem 0;
  display: flex;
  align-items: center;
}

.wrapper-ayuda a {
  text-decoration: none;
  color: #582F8D;
}

.titulo-ayuda {
  color: #FACC27;
  text-align: center;
  margin-bottom: 3rem;
}

.titulo-ayuda small {
  display: block;
}

.titulo-ayuda p {
  font-size: 1.4rem;
  color: #FFF;
}

@media (max-width: 991.98px) {
  .titulo-ayuda {
    margin-bottom: 1rem;
  }
  .titulo-ayuda h1 {
    font-size: 1.4rem;
  }
  .titulo-ayuda p {
    font-size: 1rem;
    margin-bottom: 0;
  }
  .wrapper-ayuda {
    height: auto;
    padding: 2rem;
  }
  .caja-ayuda {
    margin-bottom: 1rem;
  }
  .caja-ayuda i {
    font-size: 2rem;
  }
  .caja-ayuda.caja-paso-3 {
    height: auto;
    min-height: 0;
  }
}

@media (max-width: 767.98px) {
  .wrapper-ayuda {
    padding: 2rem 1rem;
  }
  .caja-ayuda {
    height: auto;
    min-height: 0;
    padding: 1rem;
  }
  .caja-ayuda h3 {
    font-size: 1rem;
  }
  .caja-ayuda p {
    margin-bottom: 0;
    font-size: 0.9rem;
  }
  .top-title {
    font-size: .8rem;
  }
  .faq-area {
    padding-top: 1rem;
    padding-bottom: 0;
  }
  .faq-area .top-title {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .faq-area .inner {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0;
  }
  .faq-accordion .accordion .accordion-title {
    font-size: 0.8rem;
  }
  .faq-accordion .accordion .accordion-title i {
    font-size: 1.2rem;
  }
  .faq-accordion .accordion .accordion-content p {
    font-size: .8rem;
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=ayuda.css.map */