.header-seccion {
  padding: 0;
  border: none;
  text-align: center;
}

.header-seccion h1 {
  font-size: 1.2rem;
}

/* Convenios */
.cont-convenios {
  background-color: #fff;
  padding: 6rem;
}

.cont-convenios label {
  font-weight: 700;
  color: #2FBFC0;
  margin-top: 1rem;
}

.cont-convenios h2, .cont-convenios h3 {
  margin-bottom: 1rem;
  color: #582F8D;
}

.cont-convenios h2 {
  font-size: 1.4rem;
}

.cont-convenios h3 {
  font-size: 1.2rem;
  margin-top: 3rem;
}

.cont-convenios ul {
  list-style-type: disc;
}

.cont-convenios ul li {
  margin-bottom: 0.5rem;
}

.cont-convenios strong {
  color: #666;
}

.cont-convenios .btn-primary {
  background-color: #2FBFC0;
  border-color: #2FBFC0;
  min-width: 200px;
}

.cont-convenios .btn-primary:hover {
  background-color: #1C7475;
  border-color: #1C7475;
}

.card-industria {
  background-color: #582F8D;
  border-radius: 10px;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.card-industria h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  color: #FACC27;
}

.card-industria i {
  color: #2FBFC0;
  margin-bottom: 2rem;
}

.cont-convenios .lista-convenio li {
  margin-bottom: 1rem;
}

.appointment-convenio {
  padding: 0;
}

#contactForm ul {
  list-style-position: none;
}

.industrias {
  padding: 4rem;
  background-color: #2FBFC0;
}

.industrias h3 {
  margin-bottom: 2rem;
  color: #FFF;
}

.form-convenios {
  display: block;
  padding: 2rem;
  border-radius: 20px;
}

#convenioForm .form-group {
  margin-bottom: 0;
}

#convenioForm .form-group .list-unstyled {
  margin-bottom: 0;
}

@media (max-width: 991.98px) {
  .card-industria {
    margin-bottom: 1rem;
    min-height: 200px;
  }
  .card-industria h4 {
    width: 100%;
    font-weight: 300;
    text-transform: none;
    letter-spacing: 0;
  }
  .cont-convenios {
    padding: 2rem 1rem;
  }
  .industrias {
    padding: 2rem 0;
  }
  .industrias h3 {
    font-size: 1rem;
  }
}

@media (max-width: 767.98px) {
  .cont-convenios {
    font-size: 0.8rem;
  }
  .cont-convenios h2 {
    font-size: 1rem;
  }
  .cont-convenios h3 {
    font-size: .8rem;
  }
}
/*# sourceMappingURL=convenios.css.map */