/* Fonts */

@import "fontawesome.css";
@import "brands.css";
@import "light.css";


@font-face {
    font-family: 'lulocleanw01-oneboldregular';
    src: url('../webfonts/lulo_clean_w01_one_bold_2-webfont.woff2') format('woff2'),
         url('../webfonts/lulo_clean_w01_one_bold_2-webfont.woff') format('woff'),
         url('../webfonts/lulo_clean_w01_one_bold_2-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
