/* Footer */
/*
Footer Top Area Style
======================================================*/
.footer-top-area {
  background-color: #001430;
  padding-top: 100px;
  padding-bottom: 70px;
}

.footer-top-area.f-bg {
  background-image: url(../img/footer.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
  background-attachment: fixed;
}

.footer-top-area.f-bg-2 {
  position: relative;
  z-index: 1;
}

.footer-top-area.f-bg-2 .shape-1 {
  position: absolute;
  top: 50px;
  right: 50px;
  opacity: 0.2;
  z-index: -1;
  animation: rotation 30s linear infinite;
}

.footer-top-area.f-bg-2 .shape-2 {
  position: absolute;
  bottom: 50px;
  left: 100px;
  opacity: 0.2;
  z-index: -1;
  animation: moveBounce 5s linear infinite;
}

.footer-top-area.f-bg-2 .shape-3 {
  position: absolute;
  bottom: 50px;
  left: 100px;
  opacity: 0.2;
  z-index: -1;
  animation: rotation 30s linear infinite;
}

.footer-top-area.f-bg-2 .shape-4 {
  position: absolute;
  top: 50px;
  right: 50px;
  opacity: 0.2;
  z-index: -1;
  animation: moveBounce 5s linear infinite;
}

.single-widget {
  margin-bottom: 30px;
}

.single-widget a img {
  max-width: 280px;
}

.single-widget img {
  margin-bottom: 20px;
}

.single-widget h3 {
  font-size: 22px;
  margin-bottom: 1rem;
  display: inline-block;
  color: #001430;
  color: #2FBFC0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

.single-widget p {
  margin-bottom: 0;
  color: #FFF;
  font-size: 0.9rem;
}

.single-widget ul {
  padding-left: 0;
  list-style-type: none;
}

.single-widget ul li {
  color: #c0cade;
  margin-bottom: 8px;
  font-size: 15px;
}

.single-widget ul li:last-child {
  margin-bottom: 0;
}

.single-widget ul li span {
  color: #FFF;
}

.single-widget ul li a {
  color: #FFF;
  transition: all 0.5s;
}

.single-widget ul li a i {
  display: inline-block;
  margin-right: 2px;
  font-size: 14px;
}

.single-widget ul li a:hover {
  transform: translateX(2px);
}

.single-widget .social-area ul {
  line-height: 1;
}

.single-widget .social-area ul li {
  display: inline-block;
}

.single-widget .social-area ul li a {
  margin-right: 5px;
  width: 30px;
  height: 30px;
  line-height: 34px;
  background-color: #2FBFC0;
  border-radius: 4px;
  text-align: center;
}

.single-widget .social-area ul li a i {
  color: #eeeeee;
  transition: all 0.5s;
  margin-right: 0;
  font-size: 18px;
}

.single-widget .social-area ul li a:hover {
  border-color: #2FBFC0;
  transform: translateX(-2px);
}

.single-widget .social-area ul li a:hover i {
  color: #FFF;
}

.single-widget.contact ul li {
  position: relative;
}

.single-widget.contact ul li a {
  position: relative;
  padding-left: 30px;
}

.single-widget.contact ul li a i {
  position: absolute;
  top: 4px;
  left: 0;
  color: #2FBFC0;
  font-size: 20px;
}

.single-widget.contact ul li a span {
  display: block;
  font-weight: 600;
}

.single-widget.contact ul li i {
  position: absolute;
  left: 0;
  top: 4px;
  color: #2FBFC0;
  font-size: 20px;
}

.single-widget.contact ul li span {
  display: block;
  font-weight: 600;
}

.single-widget.open-time li {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #2FBFC0;
}

.single-widget.open-time li .right {
  float: right;
}

.single-widget.open-time li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

/*
Footer Bottom Area Style
======================================================*/
.footer-bottom-area {
  background-color: #05224c;
  padding: 20px 0;
}

.footer-bottom-area .copy-right {
  text-align: center;
}

.footer-bottom-area .copy-right p {
  text-transform: capitalize;
  margin-bottom: 0;
  color: #FFF;
}

.footer-bottom-area .copy-right p a {
  color: #FFF;
}

/*
Social Links
======================================================*/
.social-links ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links ul li {
  margin-bottom: 0;
  margin-right: 1rem;
}

.social-links ul li:last-child {
  margin-right: 0;
}

.social-links ul a {
  height: 50px;
  width: 50px;
  background-color: #2FBFC0;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links ul a:hover {
  text-decoration: none;
  background-color: #582F8D;
}

.social-links ul a i {
  font-size: 1.6rem !important;
}

@keyframes moveBounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Nuevo Footer */
.container-footer {
  max-width: 1380px;
}

.contact a {
  color: #FFF;
  text-decoration: none;
}

.contact a:hover {
  color: #2FBFC0;
}

.data-atencion {
  color: #FFF;
  text-align: center;
}

.data-atencion .titulo-atencion {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #2FBFC0;
}

.comunicate-box {
  font-size: 1rem;
  color: #FFF;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  text-align: left;
}

.comunicate-box .fal {
  color: #2FBFC0;
  font-size: 2rem;
  display: inline-block;
  margin-right: 0.8rem;
}

.comunicate-box .comunicate-body {
  display: inline-block;
}

.comunicate-box .comunicate-body strong {
  font-size: .8rem;
  display: block;
}

@media (max-width: 991.98px) {
  .single-widget h3 {
    display: block;
  }
  .single-widget p {
    font-size: 0.8rem;
  }
  .open-time ul:first-child,
  .open-time ul:last-child {
    width: 38%;
    display: inline-block;
  }
  .footer-top-area {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .single-widget a img {
    max-width: 150px;
  }
  .single-widget h3 {
    font-size: 0.8rem;
  }
  .data-atencion .titulo-atencion {
    font-size: 0.7rem;
  }
  .data-atencion .data-horario {
    font-size: 0.8rem;
  }
  .cont-comunica {
    display: flex;
  }
  .comunicate-box {
    margin-bottom: 1rem;
    font-size: 0.8rem;
    justify-content: center;
    align-items: start;
  }
  .comunicate-box .fal {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=footer.css.map */