body {
  background: #582f8d;
  color: #333;
  background: linear-gradient(322deg, #582f8d 0%, #2fbfc0 100%);
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.navbar-toggler {
  color: #FFF;
}

button:focus {
  outline: none;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.cont-logo {
  width: 48px;
}

nav {
  max-width: 1400px;
  margin: 0 auto;
}

nav ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

nav ul li {
  display: inline-block;
}

nav a {
  color: #fff;
  font-size: .9rem;
  font-weight: 700;
}

nav a:hover {
  text-decoration: none;
  color: #FACC27;
}

nav .btn-contrata {
  border: 1.3333px solid #fff;
}

nav .btn-contrata:hover {
  border: 1.3333px solid #FACC27;
}

nav .nav-item {
  margin-left: .8rem;
}

nav .nav-link {
  text-transform: uppercase;
  font-weight: 500;
}

nav .navbar-brand img {
  width: 100%;
  max-width: 250px;
  min-width: 200px;
}

header {
  background-color: #582F8D;
  color: #FFF;
  padding: 1rem 0;
}

header .inner {
  padding: 1.375rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .cont-iso {
  max-width: 405px;
  margin-right: 3.125rem;
}

header .cont-iso img {
  width: 100%;
}

header h2,
header .cont-iso {
  display: inline-block;
  font-size: 1.4rem;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

header h2 {
  margin: 0;
  margin-top: .7rem;
}

header .btn {
  font-size: 0.75rem;
  font-weight: 700;
}

.inner-section {
  padding: 6rem;
}

#contactForm ul {
  margin-bottom: 0;
}

#contactForm .form-group.has-error {
  margin-bottom: 0;
}

#contactForm .form-group.has-error .help-block.with-errors {
  color: #FACC27;
}

.page-title-area {
  position: relative;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mtop-4 {
  margin-top: 4rem;
}

.hero-image {
  padding: 4rem;
  padding-top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #FACC27;
}

.phone {
  font-weight: 700;
  color: #FFF;
  font-size: 1.2rem;
}

.subnav {
  max-width: 1400px;
}

.subnav .btn {
  border-radius: 20px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.subnav .btn-primary:first-child {
  background-color: #582F8D;
  border-color: #582F8D;
  margin-right: 0.5rem;
}

.subnav .btn-primary:first-child:hover {
  background-color: #2FBFC0;
  border-color: #2FBFC0;
}

.subnav .btn-primary:last-child {
  background-color: #FACC27;
  border-color: #FACC27;
  color: #582F8D;
}

.subnav .btn-primary:last-child:hover {
  background-color: #2FBFC0;
  border-color: #2FBFC0;
  color: #FFF;
}

.subnav .cont-btn-subnav {
  text-align: right;
}

.appointment-area {
  background-color: #2FBFC0;
  padding: 0;
  color: #FFF;
}

.appointment-area label {
  font-weight: 700;
}

.appointment-area .btn-primary {
  background-color: #582F8D;
  border-color: #582F8D;
}

.single-contact-map {
  height: 100%;
  width: 100%;
}

.single-contact-map iframe {
  width: 100%;
  height: 100%;
}

.appointment-here-form {
  padding: 4rem;
}

/* Navbar */
/* Columns Equal Height */
.row.equal-height-row {
  display: flex;
  flex-wrap: wrap;
}

.row.equal-height-row > [class*='col-'] {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.row.equal-height-row > [class*='col-'] > .card {
  padding: 1rem;
}

#msgSubmit {
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
}

.with-errors {
  color: #EB5757;
  padding: .5rem 0;
  margin-bottom: 0;
}

.with-errors .list-unstyled {
  list-style-type: none;
}

.with-errors .list-unstyled li {
  margin-bottom: 0;
}

.v-center {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.form-control {
  border-radius: 0;
  outline: none;
}

.btn.btn-cta,
.btn.btn-cta1 {
  border-radius: 100px;
}

.btn-cta:first-child {
  background-color: #582F8D;
  border-color: #FFF;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.btn-cta:first-child:hover {
  background-color: #2FBFC0;
  border-color: #2FBFC0;
}

.btn-cta1:last-child {
  background-color: #FACC27;
  border-color: #FACC27;
  color: #582F8D;
}

.btn-cta1:last-child:hover {
  background-color: #2FBFC0;
  border-color: #2FBFC0;
  color: #FFF;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.loader {
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: #582F8D;
  position: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loader i {
  color: #FFF;
}

.loader img {
  width: 100px;
  margin-bottom: 2rem;
}

.loader.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@media (max-width: 991.98px) {
  .btn {
    display: block;
    margin-bottom: .5rem;
  }
  .navbar-nav {
    margin-top: 2rem;
  }
  .btn-cta:first-child {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 0;
  }
  .btn-cta:first-child,
  .btn-cta1:last-child {
    max-width: 200px;
  }
  .appointment-here-form {
    padding: 2rem 1rem;
    padding-bottom: 0 !important;
  }
  .appointment-here-form h2 {
    font-size: 1rem;
  }
  .single-contact-map {
    min-height: 300px;
  }
  nav .navbar-brand img {
    max-width: 150px;
    min-width: 0;
  }
  .mtop-4 {
    margin-top: 2rem;
  }
  .separador {
    height: 0;
    border-top: 6px solid #FACC27;
    margin: 2rem 0;
  }
  header {
    padding: 0;
  }
}

@media (max-width: 767.98px) {
  .appointment-here-form {
    padding: 1rem;
  }
  .single-contact-map {
    min-height: 100px;
  }
}

@media (min-width: 576px) {
  .row.equal-height-row > [class*='col-'] > .card {
    height: 100%;
  }
}
/*# sourceMappingURL=general.css.map */