/* Header */
.cont-logo {
  width: 48px;
}

nav .inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  padding-left: 0;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
}

nav a {
  color: #fff;
  margin-left: 2rem;
  font-size: 1rem;
  font-weight: 700;
}

nav a:hover {
  text-decoration: none;
  color: #FACC27;
}

nav .btn-contrata {
  border: 1.3333px solid #fff;
  padding: 12px 18px;
}

nav .btn-contrata:hover {
  border: 1.3333px solid #FACC27;
}

header {
  background-color: #582F8D;
  color: #FFF;
}

header .inner {
  padding: 1.375rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .cont-iso {
  max-width: 405px;
  margin-right: 3.125rem;
}

header .cont-iso img {
  width: 100%;
}

header h2,
header .cont-iso {
  display: inline-block;
  font-size: 1.4rem;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

header h2 {
  margin: 0;
  margin-top: .7rem;
}

nav .nav-link {
  text-transform: uppercase;
}
/*# sourceMappingURL=header.css.map */