.header-seccion {
  padding: 0;
  border: none;
  text-align: center;
}

.header-seccion h1 {
  font-size: 1.2rem;
}

/* Ingresa */
.wrapper-ingresa {
  background-image: url("../img/ingresa.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: calc(100vh - 125px);
}

.wrapper-ingresa .titulo-seccion,
.wrapper-ingresa .destacado {
  color: #FACC27;
}

.wrapper-ingresa h1 {
  text-align: center;
  font-size: 2rem;
  color: #FACC27;
}

.wrapper-ingresa h3 {
  color: #FFF;
  font-size: 1.6rem;
  text-align: center;
  margin: 3rem 0;
  font-family: 'Montserrat', serif;
}

.wrapper-ingresa small {
  display: block;
  margin-top: 2rem;
}

.box-ingresa {
  background-color: rgba(88, 47, 141, 0.8);
  border-radius: 20px;
  padding: 4rem 6rem;
  margin: 4rem auto;
}

.card-ingreso {
  display: flex;
  align-items: center;
  background-color: #2FBFC0;
  padding: .5rem;
  border-radius: 4rem;
  cursor: pointer;
  width: 450px;
  padding-right: 0;
  margin: 0 auto;
  transition: all .3s ease-out;
  justify-content: space-between;
}

.card-ingreso .cont-icon {
  width: 80px;
  height: 80px;
  border-radius: 60px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 1rem;
  margin: 0;
  background-color: #FFF;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all .3s ease-out;
  justify-content: center;
}

.card-ingreso .cont-icon i {
  font-weight: 300;
  font-size: 2.4rem;
  color: #582F8D;
}

.card-ingreso a {
  display: inline-block;
  margin-left: 0;
  font-size: 2.6rem;
  color: #FFF;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 700;
}

.card-ingreso a small {
  display: block;
  margin-top: .4rem;
  font-weight: 700;
  font-size: 1rem;
}

.card-ingreso a:hover {
  text-decoration: none;
}

.card-ingreso a.link {
  width: 100%;
  padding: 0.5rem 0;
}

.card-ingreso:hover {
  background-color: #1b6d6e;
}

.card-ingreso:hover .cont-icon {
  transform: scale(1.2);
  background-color: #2FBFC0;
}

.card-ingreso:hover .cont-icon i {
  color: #FFF;
}

.ingreso-abogados {
  background-color: #FACC27;
}

.ingreso-abogados:hover {
  background-color: #b79004;
}

.ingreso-abogados:hover .cont-icon {
  transform: scale(1.2);
  background-color: #FACC27;
}

@media (max-width: 991.98px) {
  .wrapper-ingresa {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(75vh - 125px);
  }
  .wrapper-ingresa h1 {
    font-size: 1.4rem;
  }
  .wrapper-ingresa h3 {
    margin: 1rem;
    font-size: 1rem;
    line-height: 1.4;
  }
  .wrapper-ingresa small {
    margin-top: 1rem;
  }
  .box-ingresa {
    margin: 1rem;
    padding: 2rem 1rem;
  }
  .card-ingreso {
    width: 100%;
    min-width: 250px;
    margin-bottom: .8rem;
  }
  .card-ingreso a {
    font-size: 2rem;
  }
  .card-ingreso a small {
    font-size: 0.8rem;
  }
  .card-ingreso.ingreso-abogados {
    margin-bottom: 0;
  }
}

@media (max-width: 767.98px) {
  .wrapper-ingresa {
    height: calc(100vh - 125px);
  }
  .box-ingresa {
    margin: 2rem;
  }
  .card-ingreso {
    width: 90%;
  }
  .card-ingreso a {
    font-size: 1.6rem;
  }
}

@media (max-width: 575.98px) {
  .wrapper-ingresa {
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .wrapper-ingresa h1 {
    font-size: 1.2rem;
  }
  .wrapper-ingresa h3 {
    font-size: 0.8rem;
  }
  .box-ingresa {
    margin: 1rem;
  }
}
/*# sourceMappingURL=ingresa.css.map */