/* Nosotros */
.nosotros {
  background-color: #FFF;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.nosotros h3 {
  color: #FACC27;
  font-size: 1rem;
}

.nosotros .caja-nosotros {
  padding: 2rem 0;
}

.nosotros .caja-nosotros ul {
  padding-left: 0;
  list-style-type: none;
  text-align: left;
}

.nosotros .caja-nosotros {
  width: 100%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6);
  width: 330px;
}

.cont-nosotros {
  padding: 4rem 2rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caja-nosotros {
  background-color: #FFF;
  width: 100%;
  padding: 4rem 0;
  border-radius: 0;
}

.caja-nosotros strong {
  color: #666;
}

.caja-nosotros ul {
  padding-left: 0;
  list-style-type: disc;
}

.caja-nosotros ul li {
  margin-bottom: 1rem;
}

.caja-nosotros h3 {
  margin-bottom: 0;
  text-align: center;
}

.caja-nosotros i {
  color: #2FBFC0;
}

.box-nosotros {
  background-image: url("../img/box-nosotros.svg");
  background-position: left center;
  border-radius: 0;
  background-size: contain;
  background-repeat: no-repeat;
  color: #FFF;
  height: 450px;
  min-width: 350px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-nosotros.right {
  background-image: url("../img/box-nosotros-r.svg");
  background-position: right center;
}

.box-nosotros ul {
  list-style-type: disc;
}

.box-nosotros ul li {
  margin-bottom: 1rem;
}

.box-nosotros .inner-nosotros {
  width: 600px;
  margin-left: -15%;
}

.card-nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
  padding: 3rem 2rem;
  border-radius: 20px;
}

.card-lila {
  background-color: #582F8D;
}

.card-lila p {
  color: #FFF;
}

.card-verde {
  background-color: #2FBFC0;
}

.card-verde p, .card-verde ul {
  color: #FFF;
}

.box-nosotros.right .inner-nosotros {
  margin-left: 10%;
}

/* Nuevo Layout */
.texto-nosotros {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto-nosotros .inner-texto {
  width: 90%;
}

.cont-foto-abogada,
.cont-foto-doctor {
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 2rem 0;
}

.cont-foto-abogada {
  background-image: url("../img/abogada3.png");
  background-position: right 0;
  background-color: #009999;
}

.cont-foto-abogada .inner-texto {
  margin-left: 10%;
}

.cont-foto-doctor {
  margin-top: 0;
  margin-bottom: 1rem;
  background-image: url("../img/doctor3.png");
  background-color: #663399;
  background-position: -80px 0;
}

.cont-foto-doctor .inner-texto {
  margin-right: 10%;
}

.col-punta-lila {
  background-image: url("../img/punta-lila.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -10px 0;
  width: 310px;
  height: 400px;
}

.cont-texto-lila,
.cont-texto-verde {
  position: relative;
}

.cont-texto-lila h3,
.cont-texto-verde h3 {
  color: #FACC27;
  font-size: 1.2rem;
}

.cont-texto-lila p, .cont-texto-lila ul,
.cont-texto-verde p,
.cont-texto-verde ul {
  color: #FFF;
  font-size: 1rem;
  margin-bottom: .5rem;
}

.cont-texto-lila {
  background-color: #582F8D;
}

.inner-nosotros {
  margin: 0 auto;
}

.col-punta-verde {
  background-image: url("../img/punta-verde.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 101% 0;
  width: 310px;
  height: 392px;
}

.cont-texto-verde {
  background-color: #2FBFC0;
}

@media (max-width: 991.98px) {
  .card-nosotros {
    margin: 2rem .5rem;
    margin-bottom: 0;
  }
  .card-nosotros ul {
    padding-left: .5rem;
  }
}
/*# sourceMappingURL=nosotros.css.map */