/* Planes */
.plan h4 {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  margin: 0;
  margin-top: 1rem;
  text-align: center;
  color: #2FBFC0;
}

.plan.plan-int {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.plan.plan-int .nombre-plan {
  font-size: 1.3rem;
}

.plan.plan-int .precio-plan {
  padding-left: 0;
  padding-right: 0;
}

.cont-incluye {
  padding: 0 .5rem;
}

.cont-incluye ul {
  padding-left: 20px;
  margin-bottom: 2rem;
}

.cont-incluye ul li {
  margin: 1rem 0;
}

.cont-incluye .btn-primary {
  background-color: #FACC27;
  border-color: #FACC27;
  margin-right: 0.5rem;
  color: #582F8D;
}

.cont-incluye .btn-primary:hover {
  background-color: #2FBFC0;
  border-color: #2FBFC0;
  color: #FFF;
}

.cont-incluye .box-promo.box-contrata .box-inner {
  background-color: #2FBFC0;
  transition: all 0.5s;
}

.cont-incluye .box-promo.box-contrata .box-inner:hover {
  background-color: #1b6d6e;
}

.cont-incluye .box-promo {
  margin: 3rem 0 0 0;
}

.cont-incluye h5 {
  font-size: 1rem;
}

@media (max-width: 991.98px) {
  .titulo-planes {
    font-size: 2rem;
    margin: 2rem 0;
  }
  .cont-incluye .box-promo {
    width: auto;
    margin: 0;
  }
  .cont-incluye .box-promo.box-contrata .box-inner {
    padding: 1rem;
    width: 100%;
  }
  .plan.plan-int {
    margin: 0;
  }
}

@media (max-width: 767.98px) {
  .plan.plan-int .nombre-plan {
    font-size: .9rem;
    letter-spacing: -4px;
    margin-bottom: 0;
  }
  .precio-plan + h4 {
    color: #2FBFC0;
    margin-top: 0.5rem;
  }
  .subprecio {
    font-size: 1.4rem;
  }
  .plan .btn-contratar {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }
  .titulo-planes {
    font-size: 1.2rem;
    margin-bottom: 0;
  }
  .cont-incluye ul {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }
  .cont-incluye ul li {
    margin: 0.5rem 0;
  }
}
/*# sourceMappingURL=planes.css.map */