/* Section 1 */
.s1 {
  color: #FFF;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.s1 h1 {
  font-size: 3.75rem;
  letter-spacing: -0.6rem;
  line-height: 3.6rem;
}

.s1 .destacado {
  color: #582F8D;
  background-image: url("../img/banda-amarilla.svg");
  background-repeat: no-repeat;
  background-position: center 20px;
}

.s1 .texto-apoyo {
  font-size: 1.625rem;
  max-width: 550px;
  line-height: 1.6rem;
}

.s1 .slogan {
  font-size: 1.625rem;
  color: #582F8D;
  font-weight: 700;
}

.s1 .message-plan {
  font-size: 3.8333rem;
  color: #FACC27;
  width: 320px;
  font-weight: 700;
}

.s1 .message-plan h3 {
  font-size: 38px;
  letter-spacing: -0.06em;
  line-height: 1;
}

.s1 .message-plan .precio {
  color: #FFF;
  height: 160px;
  background-color: #582F8D;
  padding: 0.75rem;
  font-size: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 280px;
  height: 80px;
}

.s1 .message-plan .signo-peso {
  display: inline-block;
  font-size: 34px;
}

.s1 .message-plan .valor-precio {
  display: inline-block;
  letter-spacing: -0.06em;
  font-size: 64px;
}

.s1 .message-plan .mes {
  display: inline-block;
  font-size: 1.8rem;
  line-height: 1.8rem;
}

.cont-photo-text {
  position: relative;
  width: 100%;
}

@media (max-width: 991.98px) {
  .s1 .slogan {
    font-size: 1rem;
  }
  .s1 .destacado {
    font-size: 1.4rem;
  }
  .s1 .message-plan {
    width: 100%;
  }
  .s1 .message-plan h3 {
    font-size: 1.4rem;
    text-align: center;
  }
  .s1 .message-plan .precio {
    width: 100%;
    max-width: 280px;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .s1 .message-plan .valor-precio {
    font-size: 3rem;
    margin-right: .5rem;
  }
  .s1 .message-plan .signo-peso {
    font-size: 1.5rem;
    margin-right: .5rem;
  }
  .s1 .message-plan .mes {
    font-size: 1.4rem;
  }
}
/*# sourceMappingURL=s1.css.map */