@charset "UTF-8";
/* Sección 2 */
.s2 {
  background-color: #fff;
}

.s2 .text-block {
  padding: 48px 28px;
}

.s2 img {
  margin-bottom: 4rem;
}

.s2 h2 {
  font-size: 22px;
  margin-bottom: 1rem;
}

.box-promo {
  width: 300px;
  display: block;
  margin-bottom: 2rem;
}

.box-promo a {
  text-decoration: none;
}

.box-promo .box-inner {
  padding: 1.5rem 2rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.5s;
}

.box-promo .box-inner.box-pide:hover {
  background-color: #1b6d6e;
}

.box-promo.box-contrata p {
  color: #582F8D;
  margin-bottom: .5rem;
}

.box-promo.box-contrata .box-inner {
  background-color: #582F8D;
}

.box-promo.box-contrata .box-inner:hover {
  background-color: #281641;
}

.box-promo.box-hora p {
  color: #2FBFC0;
  margin-bottom: .5rem;
}

.box-promo.box-hora .box-inner {
  background-color: #2FBFC0;
}

.box-promo img {
  width: 10px;
  display: inline-block;
  margin: 0;
  margin-left: 1.5rem;
}

.box-promo .box-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
}

@media (max-width: 991.98px) {
  .s2 {
    min-height: 100vh;
  }
  .s2 .text-block {
    padding: 48px 16px;
  }
  .s2 h2 {
    font-size: 20px;
  }
  .box-promo {
    margin: auto;
    margin-bottom: 2rem;
  }
}
/*# sourceMappingURL=s2.css.map */