/* Seccion 4 */
.s4 {
  background-color: #FFF;
  padding: 5rem;
}

.s4 h1, .s4 h2, .s4 h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #582F8D;
  margin-bottom: 1rem;
}

.s4 p {
  line-height: 1.4;
}

.s4 ul {
  color: #582F8D;
  list-style-type: disc;
}

.s4 ul li {
  margin: 1rem 0;
}

.s4 hr {
  height: 0;
  border-top: 6px solid #FACC27;
  margin: 1rem 0;
}

.s4 .nota {
  font-style: italic !important;
}

.s4 .nota p {
  font-size: 0.8rem;
}

.s4 .btn {
  border-radius: 10px;
}

.btn-hora {
  margin: 2rem 0;
  border-radius: 0;
  text-transform: uppercase;
  padding: 1rem 2rem;
  max-width: 300px;
}

.btn-hora.med {
  background-color: #2FBFC0;
}

.btn-hora.med:hover {
  background-color: #1b6d6e;
}

.btn-hora.abo {
  background-color: #FACC27;
}

.btn-hora.abo:hover {
  background-color: #b79004;
}

@media (max-width: 767.98px) {
  .s4 img {
    max-height: 200px;
  }
}

@media (max-width: 991.98px) {
  .s4 {
    padding: 4rem 2rem;
  }
  .s4 img {
    max-height: auto;
  }
  .s4 h1 {
    font-size: 2rem;
  }
  .s4 h3 {
    font-size: 1.4rem;
  }
}

@media (max-width: 575.98px) {
  .s4 h1 {
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 2rem;
  }
  .s4 p {
    font-size: 0.8rem;
  }
  .s4 h3 {
    font-size: 1.2rem;
  }
  .s4 ul {
    margin-bottom: 0.5rem;
  }
  .s4 ul li {
    margin: 0.5rem 0;
  }
  .s4 .btn-hora {
    margin: 1rem 0;
  }
}
/*# sourceMappingURL=s4.css.map */