.header-seccion {
  padding: 0;
  border: none;
  text-align: center;
}

.header-seccion h1 {
  font-size: 1.2rem;
}

/* Servicios */
.wrapper-servicios {
  background-image: url("../img/isotipo2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.wrapper-servicios .titulo-seccion,
.wrapper-servicios .destacado {
  color: #FACC27;
}

.caja-servicios {
  padding: 2rem;
  margin: 0 auto;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  height: 300px;
}

.caja-servicios p {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0;
}

.caja-servicios h5 {
  font-size: 2rem;
}

.caja-servicios h5 small {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
}

.caja-servicios hr {
  margin-right: -2rem;
  margin-left: -2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.caja-servicios i {
  display: block;
  margin-bottom: 1rem;
}

.card-servicios {
  padding: 2rem;
  border-radius: 0;
  min-height: 32rem;
  border: none;
  color: #2FBFC0;
  background-color: #FFF;
  margin: 0;
  margin-bottom: 2rem;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  max-width: 310px;
}

.card-servicios:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: #2FBFC0;
}

.card-servicios:hover p, .card-servicios:hover ul {
  color: #582F8D;
}

.card-servicios:hover h2 {
  color: #FFF;
  border-left: 4px solid #FFF;
}

.card-servicios p, .card-servicios ul {
  color: #666;
}

.card-servicios .title-card {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.card-servicios ul {
  padding-left: 20px;
  list-style-type: disc;
}

.card-servicios ul li {
  margin-bottom: 1rem;
}

.card-servicios h2 {
  border-left: 4px solid #2FBFC0;
  padding-left: 1rem;
}

.cont-icon {
  display: flex;
  width: 80px;
  height: 80px;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.cont-icon i {
  font-weight: 700;
  font-size: 3rem;
  color: #582F8D;
}

.cont-icon img {
  width: 80px;
  height: 80px;
}

.intro-servicios {
  color: #FFF;
}

.intro-servicios h1 {
  width: 300px;
  margin-bottom: 4rem;
  margin-top: 4rem;
  color: #582F8D;
  font-size: 3em;
  background-image: url("../img/banda-amarilla.svg");
  background-repeat: repeat-x;
  background-position: center;
}

.container-features {
  max-width: 1400px;
}

@media (max-width: 991.98px) {
  .intro-servicios h1 {
    font-size: 2em;
    width: auto;
    text-align: center;
  }
  .caja-servicios {
    margin-bottom: 2rem;
    height: auto;
  }
  .caja-servicios h5 {
    display: inline-block;
    max-width: 250px;
  }
  .caja-servicios i {
    display: inline-block;
    margin-right: 0.5rem;
  }
  .card-servicios {
    margin: 2rem;
    margin-top: 0;
    border-radius: 10px;
    height: auto;
    max-width: none;
    min-height: 0;
  }
  .card-servicios p, .card-servicios ul {
    color: #582F8D;
    font-weight: 700;
  }
  .card-servicios:hover h2 {
    border-left: none;
  }
  .wrapper-servicios .titulo-seccion,
  .wrapper-servicios .destacado {
    font-size: 2rem;
  }
  .cont-icon {
    height: 60px;
    width: 60px;
  }
  .cont-icon img {
    height: 60px;
    width: 60px;
  }
  .titulo-seccion {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 575.98px) {
  .caja-servicios {
    padding: 1rem;
  }
  .caja-servicios p {
    font-size: 0.8rem;
  }
  .caja-servicios hr {
    margin-right: -1rem;
    margin-left: -1rem;
  }
  .caja-servicios h5 {
    font-size: 1.4rem;
  }
  .caja-servicios i {
    font-size: 2.4rem;
  }
  .card-servicios {
    height: 370px;
    margin: 0;
    margin-bottom: 1rem;
    padding: 1rem;
  }
  .card-servicios .title-card {
    font-size: .8rem;
    border-left: none;
    display: inline-block;
    margin-bottom: 1rem;
    padding-left: 0;
  }
  .card-servicios ul {
    padding-left: 10px;
  }
  .card-servicios ul li {
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: 0.8rem;
  }
  .card-servicios br {
    display: none;
  }
  .cont-icon {
    margin: 0;
    margin-bottom: 1rem;
    justify-content: start;
    height: auto;
    width: auto;
  }
  .cont-icon img {
    width: 40px;
    height: 40px;
  }
  .wrapper-servicios .titulo-seccion,
  .wrapper-servicios .destacado {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=servicios.css.map */