@charset "UTF-8";
.slide1,
.slide3 {
  background-color: #2FBFC0;
}

.slide2,
.slide4 {
  background-color: #FACC27;
}

.slider-content {
  padding-top: 0;
  padding-bottom: 0;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slide-abodoc {
  height: calc(100vh - 125px);
}

/* Slide UI */
.slick-dots li.slick-active button:before {
  color: #582F8D;
}

.slick-prev:before, .slick-next:before {
  font-size: 40px;
}

.slick-prev {
  left: 2rem;
  z-index: 20;
}

.slick-next {
  right: 3rem;
}

.slick-dots {
  bottom: 1.5rem;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 12px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  content: '•';
  text-align: center;
}

/* Slides */
.slide-abodoc {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide1, .slide3 {
  background-image: url(../img/sliders/slide1_1920x955.jpg);
  background-color: #36babf;
}

.slide2, .slide4 {
  background-image: url(../img/sliders/slide2_1920x955.jpg);
  background-color: #face13;
}

.slide3 {
  background-image: url(../img/sliders/slide3_1920x955.jpg);
}

.slide4 {
  background-image: url(../img/sliders/slide4_1920x955.jpg);
}

@media (max-width: 991.98px) {
  .slide-abodoc {
    background-position: center top;
    height: calc(100vh - 280px);
  }
  .slide1 {
    background-image: url(../img/sliders/slide1_768x900.jpg);
  }
  .slide2 {
    background-image: url(../img/sliders/slide2_768x900.jpg);
  }
  .slide3 {
    background-image: url(../img/sliders/slide3_768x900.jpg);
  }
  .slide4 {
    background-image: url(../img/sliders/slide4_768x900.jpg);
  }
  .slick-prev,
  .slick-next {
    display: none !important;
  }
}

@media (max-width: 575.98px) {
  .slide-abodoc {
    background-position: 0 0;
    height: calc(100vh - 65px);
  }
  .slide1 {
    background-image: url(../img/sliders/slide1_375X550.jpg);
  }
  .slide2 {
    background-image: url(../img/sliders/slide2_375X550.jpg);
  }
  .slide3 {
    background-image: url(../img/sliders/slide3_375X550.jpg);
  }
  .slide4 {
    background-image: url(../img/sliders/slide4_375X550.jpg);
  }
}

@media (max-width: 575.98px) and (min-height: 740px) {
  .slide-abodoc {
    height: calc(100vh - 75px);
  }
  .slide1 {
    background-image: url(../img/sliders/slide1_375X750.jpg);
  }
  .slide2 {
    background-image: url(../img/sliders/slide2_375X750.jpg);
  }
  .slide3 {
    background-image: url(../img/sliders/slide3_375X750.jpg);
  }
  .slide4 {
    background-image: url(../img/sliders/slide4_375X750.jpg);
  }
}
/*# sourceMappingURL=slider.css.map */