/* Typo elements */
body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'lulocleanw01-oneboldregular', sans-serif;
}

a {
  transition: all .3s ease-out;
}
/*# sourceMappingURL=typography.css.map */